  #back-button {
      margin-bottom: 20px;
    }

    #properties-section {
      margin-top: 20px;
      border-top: 1px solid #ddd;
      padding-top: 20px;
    }

    #properties-section h4 {
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group select,
    .form-group input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    #update-button {
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }

    #update-button:hover {
      background-color: #0056b3;
    }

    .truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100px; 
    }
.select2-container{
  z-index: 2050 !important;
}
    .select2-container .select2-selection--multiple {
      min-height: 38px; /* Adjust this value as needed */
      max-height: 150px; /* This limits the max height */
    
      padding: 4px;
  }
  
  .select2-container .select2-selection--single {
      min-height: 38px; /* Ensure single select also has appropriate height */
      padding: 4px;
  }
  
  .select2-dropdown {
      max-height: 200px; /* Set a max height for the dropdown list */
      overflow-y: auto; /* Enables scroll within the dropdown */
  }
  
