<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <!--Chart js-->
     <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
   

<div class="container-fluid">
    

  
      <div class="row">
        <div class="col-lg-2 position-fixed  " style="  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); height: 100%; background-color: #1D1D42;">
        

          <div class="list-group">

            <button type="button" style="color: white; background-color: #1D1D42;" class="list-group-item list-group-item-action mt-4" aria-current="true">
              
          <h2 >Admin</h2>
             </button>
                <button type="button" onclick="redirectToDashboard()" style="  color: #72728A; background-color: #1D1D42  ;" class="list-group-item list-group-item-action mt-4" aria-current="true">
                 <span class="fa fa-home" style="margin-right: 8px; font-size: 20px;"></span>
             <span style="font-weight: 600; ">Dashboard</span>
                </button>
                
                <button type="button" onclick="redirectToTicket()" style="  color: #72728A; background-color: #1D1D42;" class="list-group-item list-group-item-action mt-4" aria-current="true">
                  <span class="fa fa-ticket" style="margin-right: 8px; font-size: 20px;"></span>
              <span style="font-weight: 600; ">Ticket</span>
                 </button>
                
                 <button type="button" onclick="redirectToMap()" style=" background-color: #27274F;  color: #72728A; " class="list-group-item list-group-item-action mt-4" aria-current="true">
                  <span class="fa fa-map" style="margin-right: 8px; font-size: 20px;"></span>
              <span style="font-weight: 600; ">Map</span>
                 </button>
                 <button
                 type="button"
                 onclick="redirectToLog()"
                 style="background-color: #1d1d42; color: #72728a"
                 class="list-group-item list-group-item-action mt-4"
                 aria-current="true"
               >
                 <span
                   class="fa fa-history"
                   style="margin-right: 8px; font-size: 20px"
                 ></span>
                 <span style="font-weight: 600">History Log</span>
               </button>
               <button type="button" onclick="redirectUserManagement()" style="background-color: #1d1d42; color: #72728a" class="list-group-item list-group-item-action mt-4" aria-current="true">
                <span class="fa fa-users" style="margin-right: 8px; font-size: 20px"></span>
                <span style="font-weight: 600">Users</span>
            </button>
         
               
               
              </div>

        </div>

        <div class="container col-lg-10 offset-lg-2" style=" background-color: #F4F7FE; height: 100vh;">
       
       <!--Unresolved-->
        
          
          <div class="container-fluid">
            <div class="row mt-3">
              <div class="container-fluid">
                <div class="row">

               
              
                <div class="col-lg-12 mb-3">

             
                <!--Map-->   <div  style=" border-radius: 10px; height: 94vh; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); " id="mapPagsanjan">
                </div>
              </div>
             
              
              </div>
              </div>
             

          
                </div>

            </div>

        
        </div>
    </div>
</div>



  <!--Change Route-->
  <script>
    function redirectToDashboard() {
    window.location.href = "/"; // Redirect to the Flask route
  }
  function redirectToTicket() {
    window.location.href = "/complaints"; // Redirect to the Flask route
  }

  function redirectToMap() {
    window.location.href = "/maps"; // Redirect to the Flask route
  }
  function redirectToLog() {
      window.location.href = "/log-history"; // Redirect to the Flask route
    }
    function redirectUserManagement() {
        window.location.href = "/user-management";
    }
</script>
 
<!--bootstrap-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!--Leaflet-->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    

      <!--Chart js--> <script src="/static/js/charts.js"></script>

      <!--Maps-->
      <script src="/static/js/maps.js"></script>
      
</body>

</html>