<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Bootstrap-->
     <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
     <link
       rel="stylesheet"
       href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
     />
     <link rel="stylesheet" href="/static/css/sidebar.css" />
    
     <link
       rel="stylesheet"
       href="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap5.css"
     />
     <link
       rel="stylesheet"
       href="https//cdn.datatables.net/2.0.6/css/dataTables.dataTables.min.css"
     />
    <title>Log History</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 position-fixed" style="box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); height: 100%; background-color: #1d1d42;">
          <div class="list-group">
            <button type="button" style="color: white; background-color: #1d1d42" class="list-group-item list-group-item-action mt-4" aria-current="true">
              <h2>Admin</h2>
            </button>
            <button type="button" onclick="redirectToDashboard()" style="color: #72728a; background-color: #1d1d42" class="list-group-item list-group-item-action mt-4" aria-current="true">
              <span class="fa fa-home" style="margin-right: 8px; font-size: 20px"></span>
              <span style="font-weight: 600">Dashboard</span>
            </button>
            <button type="button" onclick="redirectToTicket()" style="color: #72728a; background-color: #1d1d42" class="list-group-item list-group-item-action mt-4" aria-current="true">
              <span class="fa fa-ticket" style="margin-right: 8px; font-size: 20px"></span>
              <span style="font-weight: 600">Ticket</span>
            </button>
            <button type="button" onclick="redirectToTicketHistory()" style="background-color: #27274f; color: #72728a" class="list-group-item list-group-item-action mt-4" aria-current="true">
                <span class="fa fa-history" style="margin-right: 8px; font-size: 20px"></span>
                <span style="font-weight: 600">Ticket History</span>
              </button>
            <button type="button" onclick="redirectToMap()" style="background-color: #1d1d42; color: #72728a" class="list-group-item list-group-item-action mt-4" aria-current="true">
              <span class="fa fa-map" style="margin-right: 8px; font-size: 20px"></span>
              <span style="font-weight: 600">Map</span>
            </button>
            <button type="button" onclick="redirectToLogHistory()" style="background-color: #1d1d42; color: #72728a" class="list-group-item list-group-item-action mt-4" aria-current="true">
              <span class="fa fa-history" style="margin-right: 8px; font-size: 20px"></span>
              <span style="font-weight: 600">History Log</span>
            </button>
            <button type="button" onclick="redirectUserManagement()" style="background-color: #1d1d42; color: #72728a" class="list-group-item list-group-item-action mt-4" aria-current="true">
              <span class="fa fa-users" style="margin-right: 8px; font-size: 20px"></span>
              <span style="font-weight: 600">User Management</span>
          </button>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-2" style="background-color: #f4f7fe; height: 100vh;">
          <div class="mt-3">
            <h2>Ticket History</h2>
            <div id="tableContainer">
              <table
                id="example"
                class="mt-3 complaints-table table table-striped"
                style="
                  border-collapse: separate;
                  border-spacing: 0;
                  border-radius: 10px;
                  overflow: hidden;
                  background-color: #ededed;
                  width: 100%;
                "
              >
                <thead>
                  <tr>
                    
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Consumer</th>
                    <th scope="col">Complaint</th>
                    <th scope="col">Municipality</th>
                    <th scope="col">Barangay</th>
                    <th scope="col">Image</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Resolution Team</th>
                   
                  </tr>
                </thead>
              <tbody class="table-group-divider">
          {% for ticket in tickets %}
          <tr>
            <td>{{ ticket['$id'] }}</td>
            <td>{{ ticket['consumer_name'] }}</td>
            <td>{{ ticket['description'] }}</td>
            <td>{{ ticket['city'] }}</td>
            <td>{{ ticket['barangay'] }}</td>
            <td><a href="#" class="view-image" data-image="{{ ticket['image'] }}" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#imageModal">View</a></td>
            <td>{{ ticket['createdAt'][:10] }}</td>
            <td>{{ ticket['crews'] }}</td>
        
          </tr>
          {% endfor %}
        </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for displaying the image -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-center" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel">Complaint Image</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="col-lg-12">
                  <img id="modalImage" src="" alt="Complaint Image" class="img-fluid">
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--DataTable-->
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.bootstrap5.js"></script>
    <script>
      function redirectToDashboard() {
        window.location.href = "/";
      }
      function redirectToTicket() {
        window.location.href = "/complaints";
      }
      function redirectToMap() {
        window.location.href = "/maps";
      }
      function redirectToLogHistory() {
        window.location.href = "/log-history";
      }
      function redirectUserManagement() {
        window.location.href = "/user-management";
    }
    function redirectToTicketHistory() {
        window.location.href = "/ticket-history";
    }
    </script>
    <script>
      $(document).ready(function () {
        $("#example").DataTable({
 
          buttons: [
            {
              extend: "previous",
              className: "btn-secondary",
            },
            {
              extend: "next",
              className: "btn-secondary",
            },
    
          ],
          "order": [[6, "desc"]]
        });
      });

      $('#example').on('click', '.view-image', function(event) {
            event.preventDefault();
            var imageUrl = $(this).data('image');
            $('#modalImage').attr('src', imageUrl);
        });
    </script>
  </body>
</html>
